.App {
  text-align: center;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-menu {
  width: 50%;
}

.App-menu a {
  text-decoration: none;
  color: black;
}

.App-menu a.linkActive {
  color: blue;
}

.App-list-item {
  list-style: none;
}

.App-center-screen {
  text-align: center;
}

.App-start-button {
  position: absolute;
  top: 50%;
}

.App-footer {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
}

.App-modal-content {
  display: flex;
  flex-flow: row nowrap;
}

.App-list-item-highlight {
  font-weight: bold;
}

.App-image-viewr {
  width: 50%;
}

.App-modal-overlay {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  background-color: black;
  opacity: 0.6;
}
